In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../../static/insurance.csv")

In [4]:
display(df)

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [5]:
df.loc[df["sex"] == "female", "sex"] = 1
df.loc[df["sex"] == "male", "sex"] = 0

In [6]:
df.loc[df["smoker"] == "yes", "smoker"] = 1
df.loc[df["smoker"] == "no", "smoker"] = 0

In [7]:
df["region"] = df["region"].map({
    "southwest": 0, 
    "southeast": 1, 
    "northwest": 2, 
    "northeast": 3,
})

In [8]:
display(df)

      age sex     bmi  children smoker  region      charges
0      19   1  27.900         0      1       0  16884.92400
1      18   0  33.770         1      0       1   1725.55230
2      28   0  33.000         3      0       1   4449.46200
3      33   0  22.705         0      0       2  21984.47061
4      32   0  28.880         0      0       2   3866.85520
...   ...  ..     ...       ...    ...     ...          ...
1333   50   0  30.970         3      0       2  10600.54830
1334   18   1  31.920         0      0       3   2205.98080
1335   18   1  36.850         0      0       1   1629.83350
1336   21   1  25.800         0      0       0   2007.94500
1337   61   1  29.070         0      1       2  29141.36030

[1338 rows x 7 columns]

In [9]:
res =df.corr()

In [10]:
res.to_csv('../../static/corr.csv')

In [2]:
import pandas as pd

# Load the data
df = pd.read_csv("../../static/insurance.csv")
# Define functions for BMI category and charge tier
def bmi_category(bmi):
    if bmi < 18.5:
        return 1  # Underweight
    elif bmi < 25:
        return 2  # Normal weight
    elif bmi < 30:
        return 3  # Overweight
    else:
        return 4  # Obesity

def charge_tier(charge):
    if charge > 30000:
        return 3  # High
    elif charge > 15000:
        return 2  # Medium
    else:
        return 1  # Low
    
def gender(sex):
    return 1 if sex == "male" else 0 
def round(charges):
    return int(charges)
def region(region):
    if region == "southwest":
        return 1  
    elif region =="southeast":
        return 2  
    elif region =="northwest":
        return 3  
    else:
        return 4  
def smoke_category(smoker):
    return 1 if smoker == "yes" else 0  # 1 for smoker, 0 for non-smoker

# Apply the functions
df["tier"] = df["charges"].apply(charge_tier)
df["obesity"] = df["bmi"].apply(bmi_category)
df["bmi"] = df["bmi"].apply(round)
df["smoker"] = df["smoker"].apply(smoke_category)
df["sex"] = df["sex"].apply(gender)
df["charges"] = df["charges"].apply(round)
df["region"] = df["region"].apply(region)



# Save the updated dataframe
df.to_csv("matrix.csv", index=False)

print("New file saved as 'insurance_augmented.csv'")

New file saved as 'insurance_augmented.csv'